{{#each messages}}
<div class="chat-message-right pb-4">
    <div>
        <img src="../images/user.png" alt="Аватар" class="rounded-circle mr-1" width="40" height="40">
        <div class="text-muted small text-nowrap mt-2">{{time}}</div>
    </div>
    <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
        <div class="font-weight-bold mb-1">{{sender_name}}</div>
        {{text}}
    </div>
</div>
{{/each}}
